form {
    position: relative;
}

form .ui.form{
    margin-bottom: 0;
} 


.menuFlutuante{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
    left:0;
    background: whitesmoke;
    padding: 5px 10px;
    z-index: 100;
    height: auto;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.displayNone{
    display:none;
}

.save:hover{
    transform: scale(1.2);
    cursor: pointer;
    transform: 1s all;
}

.cancel:hover{
    transform: scale(1.2);
    cursor: pointer;
    transform: 1s all;
  }