.maior-input{
  width: 40% !important;
}

button{
  background: none;
  border:none;
  border-radius: 50%;
  outline: none;
}

.animation:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.2s all;
}

.ui.button:hover .play{
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.2s all;
}

.ui.button:hover .edit{
  transform: scale(1.2);
  cursor: pointer;
  transform: 0.2s all;
}

.ui.button:hover .trash{
  transform: scale(1.2);
  cursor: pointer;
  transform: 0.2s all;
}


.angle:hover{
  transform: scale(1.2);
  cursor: pointer;
  transform: 1s all;
}

.corHorario{
  color: cadetblue !important;
}

.content{
	display: flex;
	flex-wrap: wrap;
}

.content.center.aligned{
	justify-content: center;
}

.dados{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 70%;
}

.botoes{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	flex-shrink: 1;
	width: 30%;	
}
